

/* general  */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 35px;
}

header{
    background-color: white;
}


/* header  */

div.ms_top-header{
    background-color: black;
    width: 100%;
    height: 40px;
}

div.ms_top-header-logo{
    height: 100%;
}

div.ms_top-header-logo img{
    height: 100%;
    padding: 12px;
}

a.ms_dot-bf::before{
    content: "\2022";
    font-size: 20px;
    color: blue;
    vertical-align: middle;
    margin-right: 5px;
    
}

.dropdown-menu{
    background-color: transparent;
    width: 100%;
    
}

div.ms_br-line{
    height: 1px;
    width: 100%;
    background-color: rgb(201, 201, 201);
}


.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: static;
}

ul.dropdown-menu li{
    display: inline-block;
}







/* hero  */

section.ms_hero-sect{
    background-image: url('../img/img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

section.ms_hero-sect .container{
    padding-top: 290px;
    padding-bottom: 50px;
}


div.ms_hero-logo-img{
    width: 50%;
}


/* no limits  */

div.ms_margin-spec{
    margin-top: 100px;
    margin-bottom: 50px;
}


/* 5 pics calc  */

div.ms_img-calc{
    width: calc(100% / 3);
}

span.ms_txt-none{
    display: none;
}


/* second hero  */

section.ms_hero-sect-2{
    background-image: url('../img/img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

section.ms_hero-sect-2 .container{
    padding-top: 50px;
    padding-bottom: 50px;
}


div.ms_hero-logo-img{
    width: 50%;
}


/* ps plus  */

div.ms_hidden-pic{
    display: none;
}

div.ms_padd-disap{
    padding-top: 50px;
    padding-bottom: 50px;

}


/* ps now  */

.ms_bg-blue{
    background-color: #161C3B;
}


/* social media  */

.ms_mw-576{
    max-width: 576px;
}


/* footer  */

.ms_custom-w{
    width: 20%;
}

.ms_custom-w-2{
    width: 30%;
}





/*************************************************
(SM - > 576px)
*************************************************/

@media screen and (min-width: 576px) {
    div.ms_hero-logo-img{
        width: 45%;
    }

    div.ms_fs-up span{
        font-size: 20px;
    }
    
}
  
  
/*************************************************
(MD - > 768px)
*************************************************/
    
@media screen and (min-width: 768px) {
    div.ms_hero-logo-img{
        width: 50%;
    }

    span.ms_fnt-w-qry{
        font-size: 18px;
    }

    div.ms_sec-align{
        align-items: center;
    }

    div.ms_img-calc{
        width: calc(100% / 5);
        transform: scale(0.5);
    }

    span.ms_txt-none{
        display: inline-block;
    }

    div.ms_hidden-pic{
        display: block;
    }

    div.ms_padd-disap{
        padding: 0;
    }
}
  
  
/*************************************************
(LG - > 992px)
*************************************************/
    
@media all and (min-width: 992px) {
    p.ms_p-hero{
        font-size: 18px;
        width: 40%;
    }

    div.ms_hero-logo-img{
        width: 20%;
    }

    h1.ms_h1-hero2{
        width: 35%;
    }

    /* navbart  */

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        left: 0;
        top: 72px;
    }
    
    .dropdown-menu {
        background-color: white;
        width: 100%;
        border-radius: 0;
    }

}
  
  
